body{
  margin:0;
  background-image: url("weather.jpg");
  background-size: cover;
  text-align:center;
}

div{
  margin: 3em 0 0 0;
  padding: 2em;
}

button {
	border: 3px solid #3a7999;
}

button:hover {
	border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
}